.findus__app{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    padding-left: 2rem;
}
.hidden{
    display: none;
}
.findus__app__left{
    font-family: var(--font-base);
    margin: auto;
}
.findus__app__left h6{
    color: white;
    font-size: 23px;
    line-height: 29.9px;
    font-weight: 700;
}
.findus__app__left h2{
    color: var(--color-golden);
    font-size: 64px;
    font-weight: 600;
    line-height: 83.2px;
    padding-bottom: 4rem;
}
.findus__app__left p{
    color: #AAAAAA;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--font-alt);
}
.findus__app__left h5{
    font-weight: 700;
    color: var(--color-golden);
    padding-top: 2rem;
    font-size: 23px;
    line-height: 29.9px;
}
.findus__app__left button{
    color: black;
    background-color: var(--color-golden);
    border: none;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-base);
    margin-top: 2rem;
}
.findus__app__right img{
    width: 667px;
    height: 736px;
    padding-right: 2rem;
}

@media screen and (max-width: 1069px){
    .findus__app{
        flex-direction: column;
    }
    .findus__app__right img{
        padding-top: 2rem;
    }
    .findus__app__right{
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width: 737px){
    .findus__app__right img{
        width: 520px;
    }
}

@media screen and (max-width: 545px){
    .findus__app__right img{
        width: 400px;
    }
}

@media screen and (max-width: 460px) {
    .findus__app__right img{
        width: 240px;
        height: 500px;
    }
}
